<!doctype html>
<html>
  <head>
    <title>
      Gallery
    </title>

    <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 250px;
        height: 141px;
      }

      div.gallery:hover {
        border: 1px solid #777;
      }

      div.gallery img {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    {% for image in images %}
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <!-- For some reason, image/jpeg works for PNGs too. Haven't tested it
          with other image types because I personally don't need them to work but
          it's worth keeping this comment here just in case... -->
          <img src="data:image/jpeg;base64, {{ image.bytes }}"/ height=400>
        </a>
      </div>
    {% endfor %}
  </body>
</html>
