<!DOCTYPE html>
<!-- Got this from W3's guide on responsive image grids -->
<html>
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #222222;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

img {
  border: 2px solid #333333;
}

img:hover {
  border: 3px solid #cccccc;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>
<body>

{% set_global num_columns = 4 %}

<div class="row">
  <div class="column">
    {% for path in paths %}
      {% if loop.index0 % num_columns == 0 %}
      <div class="image">
        <a href="./img?path={{ path }}">
          <img src="./thumbnail?path={{ path }}">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for path in paths %}
      {% if loop.index0 % num_columns == 1 %}
      <div class="image">
        <a href="./img?path={{ path }}">
          <img src="./thumbnail?path={{ path }}">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for path in paths %}
      {% if loop.index0 % num_columns == 2 %}
      <div class="image">
        <a href="./img?path={{ path }}">
          <img src="./thumbnail?path={{ path }}">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="column">
    {% for path in paths %}
      {% if loop.index0 % num_columns == 3 %}
      <div class="image">
        <a href="./img?path={{ path }}">
          <img src="./thumbnail?path={{ path }}">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
</body>
</html>
