<!doctype html>
<html>
  <head>
    <title>
      Gallery
    </title>

    <link rel="icon" type="image/png" href="/favicon/favicon.png">

    <style>
      div.image {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 250px;
        height: 141px;
      }

      div.image:hover {
        border: 1px solid #777;
      }

      div.image img {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    {% for path in paths %}
      <div class="image">
        <a target="_blank" href="./img?path={{ path }}">
          <!-- For some reason, image/jpeg works for PNGs too. Haven't tested it
          with other image types because I personally don't need them to work but
          it's worth keeping this comment here just in case... -->
          <img src="./img?path={{ path }}"/ height=400>
        </a>
      </div>
    {% endfor %}
  </body>
</html>
